body{
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items:center;
  background-image: linear-gradient(30deg,aqua,white);
}

input{
  /*margin: 2vh;*/
  padding: 2vh;
}
.field{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*{
  font-family: Andalus;
}
.title{
  position: absolute;
  top: 20%;
  right: 20%;
  opacity: .3;
  user-select: none;
  font-size: 20ch;
}
.my-weather-app{
  position: absolute;
  top: 0%;
  left: 0%;
  font-size:10vh ;
  opacity: .7;
}